{% block form_row %}
    <div {{ block('attributes') }}>
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="helper-text text-error">
                {% for error in errors %}
                    {% if not loop.first %}, {% endif %}
                    {{ error.message }}
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block file_widget %}
{% endblock %}

{% block file_label %}
{% endblock %}

{% block file_row %}
    <div class="file-field input-field" {{ block('attributes') }}>
        <div class="btn">
            <span>{{ label|default('global.button.file'|trans) }}</span>
            <input type="file" {{ block('widget_attributes') }}>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
{% endblock file_row %}

{% block date_widget %}
    <input
        type="text"
        class="datepicker"
        {{ block('widget_attributes') }}
        {% if value is not empty %}
            value="{{ value }}"
            data-defaultDate="{{ value }}"
            data-setDefaultDate="true"
        {% endif %}
    />
{% endblock date_widget %}

{% block plain_widget %}
{% endblock %}

{% block plain_label %}
{% endblock %}

{% block plain_row %}
    <div {{ block('widget_attributes') }}>
        {% if label is not empty %}{{ label|trans }}{% endif %} {{ value|e }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
