{% block form_row %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="helper-text text-error">
                {% for error in errors %}
                    {% if not loop.first %}, {% endif %}
                    {{ error.message }}
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block plain_widget %}
    {{ value|e }}
{% endblock %}

{% block date_widget %}
    <input
        type="text"
        class="datepicker"
        {{ block('widget_attributes') }}
        {% if value is not empty %}
            value="{{ value }}"
            data-defaultDate="{{ value }}"
            data-setDefaultDate="true"
        {% endif %}
    />
{% endblock date_widget %}
