<ul class="right hide-on-med-and-down">
    {% for name, link in navigation %}
        <li><a href="{{ path(link) }}">{{ name|trans }}</a></li>
    {% endfor %}
    <li>
        {% if notifications is empty %}
            <a class="dropdown-trigger" data-target="navbar-notifications">
                <i class="material-icons">notifications_none</i>
            </a>
            <ul id="navbar-notifications" class="dropdown-content notification-wrapper">
                <li class="valign-wrapper notif pointer-events-none">
                    <i class="material-icons">done</i>
                    {{ 'notification.empty'|trans }}
                </li>
            </ul>
        {% else %}
            <a class="dropdown-trigger notif-badge-container" data-target="navbar-notifications">
                <i class="material-icons">notifications</i>
                <span class="notif-badge">
                    {{ notifications|length }}
                </span>
            </a>
            <ul id="navbar-notifications" class="dropdown-content notification-wrapper">
                {% for notification in notifications %}
                    <li
                        class="valign-wrapper notif {{ notification.type }}"
                        data-id="{{ notification.id }}"
                        {% if notification.link %}
                            data-link="{{ notification.link|e('html_attr') }}"
                        {% endif %}
                    >
                        <i class="material-icons">{{ notification.icon|e }}</i>
                        {{ notification.content|e }}
                    </li>
                {% endfor %}
                <li class="notif notif-clear">
                    <i class="material-icons">clear_all</i>
                </li>
            </ul>
        {% endif %}
    </li>
    <li>
        <a id="navbar-user-trigger" class="dropdown-trigger" data-target="navbar-user">
            <i class="material-icons">account_circle</i>
        </a>
        <ul id="navbar-user" class="dropdown-content">
            <li>
                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.fullName }}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">{{ 'fosub.logout'|trans }}</a>
            </li>
        </ul>
    </li>
</ul>
