<ul class="right hide-on-med-and-down">
    {% for name, link in navigation %}
        <li><a href="{{ path(link) }}">{{ name|trans }}</a></li>
    {% endfor %}
    <li>
        <a id="navbar-user-trigger" class="dropdown-trigger" data-target="navbar-user">
            <i class="material-icons">account_circle</i>
        </a>
        <ul id="navbar-user" class="dropdown-content">
            <li>
              <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }} {{ app.user.surname }}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">{{ 'fosub.logout'|trans }}</a>
            </li>
        </ul>
    </li>
</ul>
