<a class="sidenav-trigger hide-on-large-only" data-target="mobile-sidenav">
    <i class="material-icons">menu</i>
</a>
<ul class="right hide-on-large-only">
    <li>
        <a class="modal-trigger notif-badge-container" href="#mobile-notifications">
            {% if notifications is empty %}
                <i class="material-icons right">notifications_none</i>
            {% else %}
                <i class="material-icons right">notifications</i>
                <span class="notif-badge">
                      {{ notifications|length }}
                </span>
            {% endif %}
        </a>
    </li>
</ul>

<div id="mobile-notifications" class="modal bottom-sheet">
    <div class="modal-content black-text">
        <h4 class="center-align">{{ 'notification.title'|trans }}</h4>
        <div class="collection notification-wrapper">
            {% for notification in notifications %}
                <div
                    class="collection-item notif {{ notification.type }}"
                    data-id="{{ notification.id }}"
                    {% if notification.link %}
                        data-link="{{ notification.link|e('html_attr') }}"
                    {% endif %}
                 >
                    <div class="valign-wrapper">
                        <i class="material-icons">{{ notification.icon|e }}</i>
                        <span>{{ notification.content|e }}</span>
                    </div>
                </div>
            {% else %}
                <div class="collection-item valign-wrapper notif pointer-events-none">
                    <i class="material-icons">done</i>
                    {{ 'notification.empty'|trans }}
                </div>
            {% endfor %}
            <div class="notif notif-clear">
                <i class="material-icons black-text center-align">clear_all</i>
            </div>
        </div>
    </div>
</div>
