<img id="brand-logo"
    src="{{ asset('images/logo_800.png') }}"
    alt="{{ 'app.title'|trans }}"
    class="responsive-img center-block"
/>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if error|default %}
        <div id="error" class="center-block">
            <span class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        </div>
    {% endif %}

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="input-field center-block">
        <i class="material-icons prefix">account_circle</i>
        <input
            type="text"
            id="username"
            name="_username"
            value="{{ last_username }}"
            autocomplete="username"
            required
        />
        <label for="username">{{ 'fosub.login.field.id'|trans }}</label>
    </div>
    <div class="input-field center-block">
        <i class="material-icons prefix">lock</i>
        <input
            type="password"
            id="password"
            name="_password"
            autocomplete="current-password"
            required
        />
        <label for="password">{{ 'fosub.login.field.password'|trans }}</label>
    </div>
    <div>
        <label>
            <input
              type="checkbox"
              id="remember_me"
              name="_remember_me"
              checked
            />
            <span>{{ 'fosub.login.field.remember_me'|trans }}</span>
        </label>
    </div>
    <p class="center-align">
        <button
            type="submit"
            id="submit"
            name="_submit"
            class="btn yellow accent-4 waves-effect waves-light"
        >
            {{ 'fosub.login.field.connect'|trans }}
        </button>
    </p>
</form>
