<main class="container center-align">
    <img id="brand-logo"
         src="{{ asset('images/logo_200.png') }}"
         alt="{{ 'app.title'|trans }}"
         class="center-block"
    />

    {% if error %}
        <div class="alert alert-error d-inline-block">
            {{ ('fosub.error.' ~ error.messageKey)|trans(error.messageData) }}
        </div>
    {% endif %}

    <form action="{{ path('fos_user_security_check') }}" method="post" class="flex-column align-items-center">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="input-field w-lg-50">
            <i class="material-icons prefix">account_circle</i>
            <input
                type="text"
                id="username"
                name="_username"
                value="{{ last_username }}"
                autocomplete="username"
                required
            />
            <label for="username">{{ 'fosub.login.field.id'|trans }}</label>
        </div>
        <div class="input-field w-lg-50">
            <i class="material-icons prefix">lock</i>
            <input
                type="password"
                id="password"
                name="_password"
                autocomplete="current-password"
                required
            />
            <label for="password">{{ 'fosub.login.field.password'|trans }}</label>
        </div>
        <div>
            <label>
                <input
                  type="checkbox"
                  id="remember_me"
                  name="_remember_me"
                  checked
                />
                <span>{{ 'fosub.login.field.remember_me'|trans }}</span>
            </label>
        </div>
        <p>
            <button
                type="submit"
                id="submit"
                name="_submit"
                class="btn bg-primary waves-effect waves-light"
            >
                {{ 'fosub.login.field.connect'|trans }}
            </button>
        </p>
    </form>
</main>
