<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}info-lyon1{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <header>
      {% block header %}
        {{ include('header.html.twig') }}
      {% endblock %}
    </header>
    <main class="container">
      {% block body %}
      {% endblock %}
    </main>
    {% block javascripts %}
      <script src="{{ asset("js/materialize.js") }}"></script>
      <script src="{{ asset("js/app.js") }}"></script>
    {% endblock %}
  </body>
</html>
