{% extends 'base.html.twig' %}

{% block title %}{{ 'fosub.login.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/fos_layout.css') }}">
{% endblock %}

{% block body %}
    <div class="center-align">
        {% block fos_user_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('build/fos_layout.js') }}"></script>
{% endblock %}
