{% extends 'base.html.twig' %}

{% block title %}Absence - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/absence-table.css') }}">
{% endblock %}

{% block bodyContainer %}
    <main>
        <h1>Absences</h1>
        <ul id="color-code" class="section">
            <li class="abs-justify">Absence justifiée</li>
            {% for type in absenceTypes %}
                <li class="abs-{{ type.class }}">{{ type.name }}</li>
            {% endfor %}
            <li class="abs-mix">Plusieurs types</li>
        </ul>
        <div id="absences-table"
            class="section"
            data-api="{{ {
                load   : path('absence_api_getall'),
                add    : null,
                remove : null,
            }|json_encode }}">
            {# Handled in javascript #}
        </div>
    </main>
{% endblock bodyContainer %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('build/absence-table.js') }}"></script>
{% endblock %}
