{% extends 'base.html.twig' %}

{% block title %}Absence - {{ parent() }}{% endblock %}

{% block bodyContainer %}
    <noscript>
        L'activation de javascript est nécessaire pour que la page fonctionne !
    </noscript>
    <main>
        <h1>Absences</h1>
        <ul id="color-code" class="section">
            <li class="abs-justify">Absence justifiée</li>
            {% for type in absenceTypes %}
                <li class="abs-{{ type.name }}">{{ type.name|trans([], 'absence_type') }}</li>
            {% endfor %}
            <li class="abs-mix">Plusieurs types</li>
        </ul>
        <div id="absence-table"
            class="section"
            data-api="{{ {
                load : path('api_absence_getall'),
                add : null,
                remove : null,
            }|json_encode }}">
            {# Handled asynchronous #}
        </div>
    </main>
{% endblock bodyContainer %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/absence-table.js') }}"></script>
{% endblock %}
