{% extends 'base.html.twig' %}

{% block title %}Absence - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/secretariat/absence.css') }}">
    <style>
        {% for type in absenceTypes %}
          #color-code li:nth-child({{ loop.index + 1 }}) {
            color: {{ type.color }};
          }
        {% endfor %}
    </style>
{% endblock %}

{% block bodyContainer %}
    <main>
        <div id="color-code" class="section">
            <ul class="row">
                <li>Absence justifiée</li>
                {% for type in absenceTypes %}
                    <li>{{ type.name }}</li>
                {% endfor %}
                <li>Plusieurs types</li>
            </ul>
        </div>
        <div id="absences-table" class="section row">
            <div id="table-static" class="col l3 xl2 no-padding">
                <h5 class="center-align">Étudiants</h5>
                <div class="row">
                    <div id="table-group-list" class="col l1 no-padding">
                        {% for group, nbStudent in groups %}
                            <p style="height: {{ nbStudent * 22 - 1 }}px;">
                                {{ group }}
                            </p>
                        {% endfor %}
                    </div>
                    <div id="table-stud-list" class="col l11 no-padding">
                        {% set lastGroup = null %}
                        {% for student in students %}
                            <div {% if lastGroup is not same as(student.group) %}
                                    {% if lastGroup is not null %}
                                        class="group-change"
                                    {% endif %}
                                    {% set lastGroup = student.group %}
                                {% endif %}
                                data-student="{{ student.id }}"
                            >
                                <p>{{ student.username }}</p>
                                <i class="material-icons">info</i>
                                <div>
                                    <p>{{ student.absences.total }} demi-journée(s)</p>
                                    {% if student.absences.total > 1 %}
                                        <p>{{ student.absences.days }} jour(s)</p>
                                    {% endif %}
                                    {% if student.absences.differed > 0 %}
                                        <p>{{ student.absences.justified }} absence(s) justifiée(s)</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="table-wrapper" class="col l9 xl10 no-padding">
                <table class="striped">
                    <thead id="absences-table-head">
                        <tr>
                            {% for month, daysInMonth in period %}
                                <td colspan="{{ daysInMonth }}">
                                    {{ month }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for month, daysInMonth in period %}
                                {% set firstDay = 0 %}
                                {% if loop.first %}
                                    {% set firstDay = beginDate|date('j') %}
                                    {% set daysInMonth = daysInMonth + firstDay %}
                                {% endif %}

                                {% for day in firstDay..daysInMonth %}
                                    <td>{{ day }}</td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% set daysNames = ['D', 'L', 'M', 'M', 'J', 'V', 'S'] %}
                            {% set currDay = beginDate|date('N') %}

                            {% for month, daysInMonth in period %}
                                {% for day in 0..daysInMonth %}
                                    <td>{{ daysNames[currDay % 7] }}</td>
                                    {% set currDay = currDay + 1 %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% set lastGroup = null %}
                        {% for student in students %}
                            <tr {% if lastGroup is not same as(student.group) %}
                                    {% if lastGroup is not null %}
                                        class="group-change"
                                    {% endif %}
                                    {% set lastGroup = student.group %}
                                {% endif %}
                            >
                                {% for month, daysInMonth in period %}
                                    {% set firstDay = 0 %}
                                    {% if loop.first %}
                                        {% set firstDay = beginDate|date('j') %}
                                        {% set daysInMonth = daysInMonth + firstDay %}
                                    {% endif %}

                                    {% for day in firstDay..daysInMonth %}
                                        {% set infos = [] %}
                                        {% set classes = [] %}
                                        {% set eventClass = null %}

                                        {% if student.absences[day] is defined %}
                                            {% set day = student.absences[day] %}
                                            <td class="{{ day.classes }}">
                                                <div
                                                    class="{{ day[0].classes }}"
                                                    data-id="{{ day[0].id }}"
                                                >
                                                    <p>
                                                      Horaires :
                                                      {{ day[0].absence.beginDate|date('H:i') }}
                                                      - {{ day[0].absence.endDate|date('H:i') }}
                                                    </p>
                                                    <p>
                                                      Justifiée :
                                                      {{ day[0].absence.justified ? 'Oui' : 'Non' }}
                                                    </p>
                                                    <p>{{ day[0].absence.type.name }}</p>
                                                </div>
                                                {% if day[1] is defined %}
                                                    <div
                                                        class="{{ day[1].classes }}"
                                                        data-id="{{ day[1].id }}"
                                                    >
                                                        <p>
                                                          Horaires :
                                                          {{ day[1].absence.beginDate|date('H:i') }}
                                                          - {{ day[1].absence.endDate|date('H:i') }}
                                                        </p>
                                                        <p>
                                                          Justifiée :
                                                          {{ day[1].absence.justified ? 'Oui' : 'Non' }}
                                                        </p>
                                                        <p>{{ day[1].absence.type.name }}</p>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table id="header-fixed"></table>
            </div>
            <div id="edition" class="modal">
                <div class="modal-content">
                    <div>
                        <h4 id="edition-name">Text name</h4>
                        <h5 id="edition-date">Text date</h5>
                    </div>
                    <div class="row">
                        <section id="edition-morning" class="col s12 m10 l6">
                            <div class="header col l10 offset-l1">
                                <h4>Matinée</h4>
                                <i id="am-delete" class="material-icons scale-transition scale-out">delete</i>
                            </div>
                            <div class="col l10 offset-l1">
                                <div id="am-time" class="center-block">
                                    <p>08:00 - 12:00</p>
                                    <p>08:00 - 10:00</p>
                                    <p>10:00 - 12:00</p>
                                </div>
                                <div class="input-field">
                                    <select id="am-absenceType">
                                        <option value="0" disabled selected>Selectionner...</option>
                                        {% for type in absenceTypes %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="am-absenceType">Type d'absence</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="am-justified">
                                    <label for="am-justified">Justifiée</label>
                                </div>
                            </div>
                        </section>
                        <section id="edition-afternoon" class="col s12 m10 l6">
                            <div class="header col l10 offset-l1">
                                <h4>Après-midi</h4>
                                <i id="pm-delete" class="material-icons scale-transition scale-out">delete</i>
                            </div>
                            <div class="col l10 offset-l1">
                                <div id="pm-time" class="center-block">
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="input-field">
                                    <select id="pm-absenceType">
                                        <option value="0" disabled selected>Selectionner...</option>
                                        {% for type in absenceTypes %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="pm-absenceType">Type d'absence</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="pm-justified">
                                    <label for="pm-justified">Justifiée</label>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="edition-submit" class="btn">Enregistrer</button>
                    <a class="btn modal-action modal-close">Annuler</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
