{% extends 'base.html.twig' %}

{% block title %}{{ 'absence.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/absence-table.css') }}">
{% endblock %}

{% block bodyContainer %}
    <main>
        <h2>{{ 'absence.title'|trans }}</h2>
        <ul id="color-code" class="section">
            <li class="abs-justify">{{ 'absence.type.justified'|trans }}</li>
            {% for type,name in absenceTypes %}
                <li class="abs-{{ type }}">{{ name }}</li>
            {% endfor %}
            <li class="abs-several">{{ 'absence.type.several'|trans }}</li>
        </ul>
        <noscript class="center-block alert alert-error">
            {{ 'error.no_script'|trans }}
        </noscript>
        <div id="absence-table" class="section">
            {# Handled asynchronously #}
        </div>
    </main>
{% endblock bodyContainer %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/absence-table.js') }}"></script>
{% endblock %}
