{% extends 'base.html.twig' %}

{% block title %}{{ 'absence.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/absence-table.css') }}">
{% endblock %}

{% block bodyContainer %}
    <main>
        <h1>{{ 'absence.title'|trans }}</h1>
        <ul id="color-code" class="section">
            <li class="abs-justify">{{ 'justified'|trans([], 'absence_type') }}</li>
            {% for type,name in absenceTypes %}
                <li class="abs-{{ type }}">{{ name }}</li>
            {% endfor %}
            <li class="abs-several">{{ 'several'|trans([], 'absence_type') }}</li>
        </ul>
        <noscript class="center-block alert alert-error">
            {{ 'global.message.no_script'|trans }}
        </noscript>
        <div id="absence-table"
            class="section"
            data-i18n="{{ {
                general: {
                    yes: 'global.message.yes'|trans,
                    no: 'global.message.no'|trans,
                },
                props: {
                    time: 'absence.props.time'|trans,
                    justified: 'absence.props.justified'|trans,
                },
                absence_types: absenceTypes,
                students: 'absence.plain.students'|trans,
                load_error: 'load_error'|trans([], 'error'),
            }|json_encode }}"
        >
            {# Handled asynchronous #}
        </div>
    </main>
{% endblock bodyContainer %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/absence-table.js') }}"></script>
{% endblock %}
