{% extends 'base.html.twig' %}

{% block title %}Absence - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/secretariat/absence.css') }}">
{% endblock %}

{% block bodyContainer %}
    {% if semester is null %}
        <main class="container">
            <h1>Absences</h1>
            <p class="center-align">Pas de semestre en court</p>
        </main>
    {% else %}
        <main>
            <h1>Absences</h1>
            {{ dump(groups) }}
            <ul id="color-code" class="section">
                <li class="abs-justify">Absence justifiée</li>
                {% for type in absenceTypes %}
                    <li class="abs-{{ type.class }}">{{ type.name }}</li>
                {% endfor %}
                <li class="abs-mix">Plusieurs types</li>
            </ul>
            <div id="absences-table" class="section row">
                {# Handled in javascript #}
            </div>
        </main>
    {% endif %}
{% endblock bodyContainer %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
