{% extends 'base.html.twig' %}

{% block title %}{{ 'absence.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/student_absence.css') }}">
{% endblock %}

{% block body %}
    <h2>{{ 'absence.title'|trans }}</h2>
    <table class="bordered centered">
        <thead>
            <tr>
                <th>{{ 'absence.props.date'|trans }}</th>
                <th>{{ 'absence.props.time'|trans }}</th>
                <th>{{ 'absence.props.type'|trans }}</th>
                <th>{{ 'absence.props.justification'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
                <tr {% if not absence.justified %}class="alert alert-error"{% endif %}>
                    <td>{{ absence.startTime|date('global.date.format'|trans) }}</td>
                    <td>
                        {{ absence.startTime|date('global.time.format'|trans) }}
                        <i class="material-icons tiny">arrow_forward</i>
                        {{ absence.endTime|date('global.time.format'|trans) }}
                    </td>
                    <td {% if absence.justified %}class="abs-{{ absence.type.name }}"{% endif %}>
                        {{ ('absence.type.' ~ absence.type.name)|trans }}
                    </td>
                    <td>{{ absence.justified ? 'absence.value.justified'|trans : 'absence.value.not_justified'|trans }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99">{{ 'absence.message.absences_empty'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
