<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffd600">
        <meta name="msapplication-navbutton-color" content="#68cfd0">

        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {% include 'header/header.html.twig' with {
                    'navigation': navigation|default,
                    'notifications': notifications|default
                } only %}
            {% endblock %}
        </header>
        {% block bodyContainer %}
            <main class="container">
                {% block body %}
                {% endblock %}
            </main>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/materialize.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ path('bazinga_jstranslation_js', { domain: 'javascript' }) }}"></script>
        {% endblock %}
    </body>
</html>
