<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {% include 'header/header.html.twig' with {'navigation' : navigation|default } only %}
            {% endblock %}
        </header>
        {% block bodyContainer %}
            <main class="container">
                {% block body %}
                {% endblock %}
            </main>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/materialize.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
