{{ form_start(form, form_options|default({})|merge({ 'attr': {'novalidate': 'novalidate'} }) ) }}
    <div class="card {{ colors|default('grey lighten-5') }}">
        <div class="card-content">
            {% if title is defined %}
                <span class="card-title">{{ title }}</span>
            {% endif %}
            <div class="row">
                {{ form_row(form.implementationDate, { 'attr': {'class': 'input-field col s12 m6'} }) }}
                {{ form_row(form.semester, { 'attr': {'class': 'input-field col s12 m6'} }) }}
            </div>
            {{ form_row(form.teachingUnits, { 'attr': {'class': 'input-field'} }) }}
        </div>
        <div class="card-action">
            <button type="submit" class="btn btn-flat waves-effect waves-light">
                {{ button_label }}
            </button>
            <a href="{{ path('administration_index') }}" class="btn btn-flat waves-effect waves-light">
                {{ 'administration.message.come_back'|trans }}
            </a>
        </div>
    </div>
{{ form_end(form) }}
