{% import 'form/form_macros.html.twig' as forms %}
{% import _self as func %}

{% macro print_group(group) %}
    <div class="row valign-wrapper">
        {{ form_row(group.number, { 'attr': {'class': 'input-field col s10'} }) }}
        <div class="col s2 center-align">
            <button type="button" class="btn-flat waves-effect waves-red" data-action="delete">
                <i class="material-icons action-icon">delete</i>
            </button>
        </div>
    </div>
    <ul
        class="collection with-header droppable"
        data-prototype="{{ form_row(group.students.vars.prototype)|e('html_attr') }}"
        data-widget-container="{{ '<li class="collection-item" draggable=true>__content__</li>'|e('html_attr') }}"
        data-counter="{{ group.students|length }}"
    >
        <li class="collection-header">{{ 'group.form.props.students.title'|trans }} (<span class="num-student">{{ group.students|length }}</span>)</li>
        {% for student in group.students %}
            <li class="collection-item" draggable="true">
                {{ form_row(student) }}
            </li>
        {% endfor %}
    </ul>
    <hr>
{% endmacro %}

{{ form_start(form, form_options|default({})) }}
    <div class="row">
        {{ form_row(form.startDate, { 'attr': {'class': 'col s12 m6'} }) }}
        {{ form_row(form.endDate, { 'attr': {'class': 'col s12 m6'} }) }}
    </div>
    <div class="row">
        {{ form_row(form.course, { 'attr': {'class': 'col s12 m8'} }) }}
    </div>
    {% if form.groups is defined %}
        <div class="card grey lighten-5">
            <div class="card-content">
                <span class="card-title">{{ 'semester.form.props.groups.title'|trans }}</span>
                {# TODO Enhance view so it's more practical to use #}
                <div class="row">
                    <div class="col s12 l6">
                        <span class="red-text">{{ form_errors(form.groups) }}</span>
                        <ul id="group-list"
                            {% if form.groups is empty %}data-empty{% endif %}
                            data-prototype="{{ func.print_group(form.groups.vars.prototype)|e('html_attr') }}"
                            data-widget-container="{{ '<li>__content__</li>'|e('html_attr') }}"
                        >
                            {% for group in form.groups %}
                                <li>{{ func.print_group(group) }}</li>
                            {% else %}
                                <li>{{ 'semester.form.props.groups.empty'|trans }}</li>
                            {% endfor %}
                        </ul>
                        <div class="center-align">
                            <button
                                type="button"
                                id="add-group"
                                class="btn-floating btn-large"
                            >
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="col l6 hide-on-med-and-down">
                        <ul class="collection droppable" id="student-list">
                            {% for student in students %}
                                <li class="collection-item"
                                    data-student-id="{{ student.id }}"
                                    draggable="true"
                                >
                                    {{ student.fullName }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ forms.actions(button_label, [ [path('administration_index'), 'administration.message.come_back'|trans] ]) }}
{{ form_end(form) }}
