{% extends 'base.html.twig' %}

{% block page_title %}
    <div class="title-left">
        <h2>{{ 'semester.form.edit.title'|trans }}</h2>
        <a href="{{ path('administration_semester_edit_file', { id: semester.id }) }}">
            {{ 'semester.message.with_file.edit'|trans }}
        </a>
    </div>
    <div class="title-right">
        {{ include('administration/semester/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block body %}
    {{ include('administration/semester/_form.html.twig', {
        'button_label': 'global.button.update'|trans,
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/semester_form.js') }}"></script>
{% endblock %}
