{% import 'form/form_macros.html.twig' as forms %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'semester.form.new.title'|trans }} - {{ parent() }}{% endblock %}

{% block page_title %}
    <div>
        <h2>{{ 'semester.form.new.title'|trans }}</h2>
        <a href="{{ path('administration_semester_new') }}">
            {{ 'semester.message.with_form.new'|trans }}
        </a>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.attachment) }}

        {{ forms.actions('global.button.send'|trans, [
            [path('administration_semester_generate_sample'), 'semester.form.new.download'|trans],
            [path('administration_index'), 'administration.message.come_back'|trans],
        ]) }}
    {{ form_end(form) }}
{% endblock %}
